// В этом файле должны быть стили для БЭМ-блока landing, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.landing {

  $block-name:                &; // #{$block-name}__element

  overflow: hidden;

}

.drawer {

  &--right {
    .drawer-nav  {
      right: -300px;
    }
  }
}

.drawer-navbar {
  height: 62px;
  border-bottom: 0;
  background: #7d63e8;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0px 14px 16px 0px rgba(49, 24, 119, 0.1);

  .drawer-brand {

    display: inline-block;
    margin-right: 30px;

    @media (min-width: $screen-lg) {
      display: none;
      margin-right: 0;
    }

    img {
      max-width: 60px;
    }
  }

  .drawer-nav {
    padding-top: 60px;

    @media (min-width: $screen-lg) {
      padding-top: 0;
    }
  }

  .drawer-menu {
    padding-bottom: 3.5rem;

    @media (min-width: $screen-lg) {
      padding-bottom: 0;
    }
  }

  .social {
    @media (min-width: $screen-lg) {
      float: right;
    }
  }

  .drawer-hamburger {
    display: block;

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  .drawer-navbar-header {
    border-bottom: none;
    background-color: transparent;
  }

  &--fixed {
    .drawer-brand {
       display: inline-block !important;
       margin-right: 30px !important;
    }
  }
}

.drawer-navbar-header {
  height: 38px;
  text-align: left;

  @media (max-width: ($screen-lg - 1)) {
    display: flex;
    z-index: inherit;
  }
}

.mobile-contacts {

  padding: 0;
  margin-left: auto;
  margin-right: 60px;
  display: flex;

  &__item {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: $color-main;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    font-size: 18px;

    & + & {
      margin-left: 10px;
    }
  }

  @media (min-width: $screen-lg) {
    display: none;
  }
}

.mobile-menu__footer {

  color: #a1aec1;

  &:before {
    content: "";
    height: 0.2143rem;
    width: 100%;
    display: block;
    background-image: linear-gradient(45deg, #835ee8, #6b71e6);
    margin-bottom: 15px;
  }

  a {
    color: #a1aec1;
    text-decoration: none;
    font-size: 12px;
    display: block;
    margin-bottom: 3px;

    &.phone {
      margin-bottom: 10px;
    }
  }

  @media (min-width: $screen-lg) {
    display: none;
  }
}

.drawer-container {
  @include container;
  max-width: 100%;
}

.drawer-menu {
}

.drawer-hamburger {
  width: 35px;
  padding-right: 15px;
}

.drawer-hamburger-icon {
  background-color: #fff;

  &:before,
  &:after {
    background-color: #fff;
  }
}

.drawer-nav {
  background-color: #323c4b;
  width: 300px;
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: $screen-lg) {
    background-color: $color-main;
  }
}

.drawer-menu-item {
  color: #a1aec1;
  font-size: 16px;

  &:hover {
    text-decoration: none;
    color: #a1aec1;
  }

  @media (min-width: $screen-lg) {
    color: #fff;
  }
}

.contact-box {

  .fas {
    color: $color-main;
    font-size: 22px;
    margin-right: 10px;
  }

  p {
    color: #000;
  }

  a {
    color: $color-main;
    text-decoration: none;
    border-bottom: 1px dashed $color-main;
  }

  &__top {
    color: #677790 !important;

    > a {
      color: #677790;
      text-decoration: none;
      border: none;
    }
  }
}

.main-nav {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    position: relative;
    margin-right: 1.5em;
  }

  &__link {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    color: #e5dcff;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.section {

  $block-name:                &; // #{$block-name}__element

  padding: 62px 0;

  @media (max-width: ($screen-lg - 1)) {
    padding: 25px 0;
  }

  &__header {
    text-align: center;
    margin-bottom: 35px;

    @media (min-width: $screen-lg) {
      margin-bottom: 63px;
    }

    h1,
    h2,
    h3 {
      margin: 15px 0;
    }
  }

  &--intro {
    background-image: url('../img/hello-img.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 39%;

    @media (min-width: $screen-lg) {
      min-height: 75vh;
    }

    .container {

      @media (min-width: $screen-lg) {
        padding-right: 22%;
      }
    }

    h1 {
      margin-bottom: 35px;

      span {
        color: $color-main;
      }
    }

    ul {
      padding-left: 20px;
      list-style: none;
      margin-bottom: 35px;

      li {
        margin-bottom: 17px;
        position: relative;

        &:before {
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #c0baf0;
          position: absolute;
          left: -17px;
          top: 7px;
        }
      }
    }

    p {
      font-size: 14px;
      color: #c8c8c8;
    }
  }

  &--service {
    padding-bottom: 4.5%;

    h3 {
      text-align: center;
      margin-bottom: 35px;
    }
  }

  &--action {
    padding-bottom: 120px;

    .section__header {
      margin-bottom: 40px;
    }
  }

  &--request-1 {
    padding-bottom: 0;

    .section__header {
      margin-bottom: 35px;
    }
  }

  &--slider {
    padding-top: 0;
    padding-bottom: 40px;

    img {
      border-radius: 10px;
    }
  }

  &--advantage {

    @media (min-width: $screen-lg) {
      padding-bottom: 40px;
    }
  }

  &--pricing {
    .section__header {
      margin-bottom: 35px;
    }

    padding-bottom: 40px;
  }

  &--discount {
    padding: 40px 0 80px 0;

    .section__header {
      margin-bottom: 40px;
    }
  }

  &--team {
    .section__header {
      margin-bottom: 45px;
    }
  }

  &--request-2 {
    padding-bottom: 0;
  }

  &--portfolio {

    @media (min-width: $screen-lg) {
      padding-top: 0;
      padding-bottom: 40px;
    }

    .section__header {
      margin-bottom: 35px;
    }
  }

  &--stage {

    padding-bottom: 0 !important;

    .section__header {
      text-align: left;
    }
  }

  &--reviews {
    background: #f7f7f7;

    .section__header {
      margin-bottom: 20px
    }
  }

  &--faq {

    padding-top: 20px;

    .section__header {
      text-align: left;
      margin-bottom: 40px;
    }
  }

  &--feedback {
    background: $color-main;
    color: #fff;
  }
}

.intro {

  &__form {
    display: flex;
    align-items: center;

    .field-text,
    .btn {
      margin-bottom: 15px;
    }

    .field-text {
      margin-right: 20px;
    }
    .field-text__input {
      background: #f0f0f0;
      border-color: #f0f0f0;
    }

    @media (max-width: ($screen-md - 1)) {
      flex-direction: column;
      align-items: stretch;

      .field-text {
        margin-right: 0;
      }
    }
  }
}

.social {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $screen-lg) {
    margin: 0;
  }

  &__item {

    &:not(:first-child) {
      margin-left: 19px;
    }

    a {
      display: block;
      width: 36px;
      height: 36px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.service-list {

  @include row;
  margin-bottom: 80px;

  &__item {
    @include col();
    @include col(lg, 6);
    @include col(xl, 3);

    margin-bottom: 30px;
  }
}

.service-card {
  text-align: center;

  &__title {
    color: $color-main;
  }
}

.get-box {
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-md) {
    flex-direction: row;
  }

  &__item {
    flex-grow: 1;
    flex-basis: 100%;
  }

  > span {
    font-size: 48px;
    color: $color-main;
    align-self: center;
    margin: 20px;
  }
}

.get-box-card {
  height: 100%;
  border: 2px solid #cfcaeb;
  border-radius: 10px;
  padding: 3% 15%;
  text-align: center;

  h4 {
    color: #fe28d5;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;
    }
  }
}

.action {
  border-radius: 10px;
  box-shadow: $shadow;
  overflow: hidden;

  &__body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 45px 25px 15px 25px;
  }

  &__part {
    margin-bottom: 30px;

    p {
      text-align: center;
      color: rgba(#fff, 0.3);
    }
  }

  &__price {
    text-align: center;

    .old-price {
      display: inline-block;
      position: relative;
      line-height: 1.2;
      color: rgba(#fff, 0.5);
      font-weight: 500;
      font-size: 24px;

      &:before {
        content: "";
        width: 100%;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 10px;
        left: -15px;
        transform: rotate(-10deg);
      }

      span {
        font-size: 18px;
        font-weight: 500;
        margin-left: 10px;
      }
    }
    .new-price {
      font-size: 54px;
      font-weight: 700;
      color: #fff;
      line-height: 1.2;

      span {
        font-size: 24px;
        font-weight: 500;
        margin-left: 10px;
      }

      @media (min-width: $screen-lg) {
        font-size: 72px;

        span {
          font-size: 24px;
        }
      }
    }
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 870px;
    margin: auto;

    .field-text {
      margin-right: 25px;
    }

    .field-text,
    .btn {
      margin-bottom: 15px;
      flex-grow: 1;
    }

    .field-text__input {
      &::placeholder {
        color: #000;
      }
    }

    @media (max-width: ($screen-md - 1)) {
      flex-direction: column;
      align-items: stretch;
      max-width: 500px;

      .field-text {
        margin-right: 0;
      }
    }
  }

  &__footer {
    padding: 5px 15px;
    text-align: center;

    p {
      font-size: 14px;

      span {
        color: $color-main;
      }
    }
  }
}

.action-counter {

}

.review-wrap {
  background: #fff;
  max-width: 810px;
  margin: auto;
  padding: 3% 4% 1% 4%;
  border-radius: 10px;
  box-shadow: $shadow;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;

  @media (min-width: $screen-lg) {
    margin-bottom: 0;
  }
}

.review {

  text-align: center;

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 225px;
    margin: auto;

    h4, p {
      margin: 0;
    }
  }

  &__img-wrap {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {

  }
}

.request-form-wrap {
  background: $color-main;
  border-radius: 10px;
  box-shadow: $shadow;
  text-align: center;
  padding: 9% 7% 3% 7%;
  margin-bottom: 25px;

  @media (min-width: $screen-lg) {
    transform: translateY(-110px);
    margin-bottom: 0;
    padding: 9% 15% 3% 15%;
  }

  h3 {
    color: #fff;
  }

  p {
    font-size: 14px;
    color: #bab6f7;
  }
}

.request-form {
  display: flex;
  max-width: 810px;
  align-items: center;

  .field-text {
    margin-right: 25px;
    flex-grow: 1;
  }

  .field-text,
  .btn {
    margin-bottom: 15px;
  }

  @media (max-width: ($screen-md - 1)) {
    flex-direction: column;
    align-items: stretch;

    .field-text {
      margin-right: 0;
    }
  }
}

.slider {

  /* the slides */
  .slick-slide {
    margin: 0 20px;

    a {
      cursor: zoom-in;
      outline: none;
    }
  }

  /* the parent */
  .slick-list {
    margin: 0 -20px;
  }

  .slick-dots {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 20px 0;

    li {
      display: inline-block;
      font-size: 0;
      margin: 5px 10px;

      &.slick-active {
        button {
          background: #726ce6;
        }
      }

      button {
        width: 14px;
        height: 14px;
        padding: 0;
        font-size: 0;
        border-radius: 50%;
        background: transparent;
        border: 2px solid #726ce6;
        cursor: pointer;
        outline: none;
      }
    }
  }

  .slick-arrow {
    position: absolute;
    z-index: 2;
    width: 36px;
    height: 36px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    color: #726ce6;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 50px;

    &:hover {
      background: #726ce6;
      color: #fff;
    }
  }

  .slider-prev {
    left: 18%;
  }

  .slider-next {
    left: 23%;
  }
}

.advantage {

  @include row;

  &__item {
    @include col();
    @include col(lg, 4);
    margin-bottom: 30px;

    @media (min-width: $screen-lg) {
      margin-bottom: 50px;
    }
  }
}

.advantage-card {
  text-align: center;
}

.pricing {
  @include row;

  &__item {
    @include col();
    @include col(lg, 4);

    @media (max-width: ($screen-lg - 1)) {
      margin-bottom: 60px;
    }
  }
}

.pricing-card {

  $block-name:                &; // #{$block-name}__element

  height: 100%;
  display: flex;
  flex-direction: column;

  &__top {
    background: $color-main;
    color: #fff;
    border-radius: 10px;
    padding: 8% 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: $shadow;

    @media (min-width: $screen-lg) {
      min-height: 245px;
    }
  }

  &__name {
    color: #fff;
    // margin-bottom: auto;
  }

  &__price {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.3;

    span {
      font-size: 20px;
      font-weight: 500;
      color: #c3bfff;
      margin-left: 10px;
    }

    @media (min-width: $screen-lg) {
      font-size: 48px;

      span {
        font-size: 24px;
      }
    }
  }


  &__text {
    span {
      color: rgba(#fff, 0.7);
      font-size: 18px;
    }
  }

  &__old-price {
    font-size: 36px !important;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 6px;
    display: block;
    position: relative;

    &:before {
      content: "";
      width: 100%;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 20px;
      left: -18px;
      transform: rotate(-9deg);
    }

    > span {
      font-size: 24px;
      margin-left: 10px;
    }
  }

  &__body {
    flex-grow: 1;
    border-radius: 10px;
    background: #f3f0ff;
    margin-bottom: 30px;
    text-align: center;

    ul {
      list-style: none;
      padding: 30px;
      margin: 0;

      li {
        margin-bottom: 15px;
      }
    }
  }

  &__actions {
    text-align: center;

    .btn {
      min-width: 240px;
    }
  }

  &--action {
    #{$block-name}__top {
      background: #f858d9;
    }

    #{$block-name}__body {
      background: #ffe0f9;
    }

    #{$block-name}__price {
      span {
        color: #ffb4f0;
      }
    }
  }
}

.present-box {
  border: 2px solid #dcd5f4;
  border-radius: 10px;
  text-align: center;
  padding: 5% 5%;
  margin-top: -2%;

  &__text {
    font-size: 18px;
    color: #3c485a;

    span {
      color: $color-main;
    }
  }
}

.discount {

  @include row;

  &__item {
    @include col();
    @include col(lg, 4);
    margin-bottom: 25px;
  }
}

.discount-card {
  box-shadow: $shadow;
  border-radius: 10px;
  padding: 8% 5% 6% 5%;
  text-align: center;

  h3 {
    color: $color-main;
    margin: 0;
  }
}

.team {
  @include row;

  &__item {
    @include col();
    @include col(lg, 4);

    margin-bottom: 30px;
  }
}

.team-card {
  box-shadow: $shadow;
  border-radius: 10px;
  height: 100%;
  background: #fff;

  &__header {
    padding: 7% 7% 0 7%;
    display: flex;
    align-items: center;
  }

  &__img-wrap {
    width: 70px;
    height: 70px;
    background: $color-main;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 20px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {

    h4,
    p {
      margin: 0;
    }

    h4 {
      color: $color-main;
      font-weight: 500;
    }

    p {
      color: #3c485a;
      font-weight: 500;
    }
  }

  &__body {
    padding: 5% 7% 7% 7%;

    a {
      color: $link-color;

      &:hover {
        text-decoration: none;
        color: $link-color--hover;
      }
    }
  }
}

.team-info {
  text-align: center;

  img {
    padding: 40px;
    max-width: 100%;
    height: auto;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 40px 0;

    li {
      font-size: 20px;
      font-weight: 500;
      color: #7f76a6;
      margin-bottom: 5%;

      span {
        color: $color-main;
      }

      &:nth-child(odd) {
        span {
          color: #f858d9;
        }
      }
    }
  }
}

.portfolio {
  width: 100%;

  .slick-dots {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 20px 0;

    li {
      display: inline-block;
      font-size: 0;
      margin: 5px 10px;

      &.slick-active {
        button {
          background: #726ce6;
        }
      }

      button {
        width: 14px;
        height: 14px;
        padding: 0;
        font-size: 0;
        border-radius: 50%;
        background: transparent;
        border: 2px solid #726ce6;
        cursor: pointer;
        outline: none;
      }
    }
  }
}

.portfolio-case {

  position: relative;
  overflow: hidden;
  height: 500px;
  text-decoration: none;
  display: flex !important;
  align-items: flex-end;

  @media (min-width: $screen-lg) {
    height: 45vw;
  }

  &:hover {

    .portfolio-case__img {
      transform: scale(1.1);
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    transition: all $transition-time;
  }

  &__caption {
    color: #fff;
    padding: 10%;
    position: relative;
    z-index: 1;
    width: 100%;
  }

  &__num {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 25px;
  }
  &__title {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    margin-bottom: 25px;
  }
  &__details {
    list-style: none;
    padding: 0;
    font-size: 14px;
    margin-bottom: 25px;

    li {
      margin-bottom: 10px;

      span {
        color: #7d7d7d;
      }
    }

  }

  &__btn {
    background: transparent;
    width: 100%;
    border: 1px solid #fff;
    padding: 16px 24px !important;

    &:hover,
    &:focus {
      background: rgb(125, 99, 232);
      border-color: rgb(125, 99, 232);
      color: #fff;
    }
  }
}

.stage {
  @include row;
  margin-bottom: 60px;
  counter-reset: stage-counter;

  &__item {
    @include col();
    @include col(lg, 3);

    margin-bottom: 20px;

    &:nth-child(2) {
      .stage-card__title {
        &:before {
          background: #9e64e7;
        }
      }
    }
    &:nth-child(3) {
      .stage-card__title {
        &:before {
          background: #da5df4;
        }
      }
    }
    &:nth-child(4) {
      .stage-card__title {
        &:before {
          background: #f352d1;
        }
      }
    }
  }
}

.stage-card {
  background: #fff;
  box-shadow: $shadow;
  padding: 8% 13% 8% 5%;
  border-radius: 10px;

  &__title {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;

    &:before {
      counter-increment: stage-counter;
      content: counter(stage-counter);
      font-size: 24px;
      font-weight: 500;
      width: 50px;
      flex-shrink: 0;
      height: 50px;
      background: $color-main;
      border-radius: 50%;
      color: #fff;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.faq {

  &__item {

    padding-bottom: 20px;

    &:not(:last-child) {
      border-bottom: 1px solid #dedaed;
    }
  }

  &__item-question {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='36px' height='36px'%3E%3Cpath fill-rule='evenodd' fill='rgb(126, 98, 232)' d='M34.382,30.284 L35.949,35.948 L30.284,34.382 C28.495,35.442 26.458,35.999 24.363,35.999 C19.116,35.999 14.531,32.463 13.149,27.477 C10.890,27.380 8.700,26.733 6.759,25.586 L0.050,27.440 L1.906,20.732 C0.657,18.621 -0.000,16.216 -0.000,13.746 C-0.000,6.166 6.166,-0.000 13.746,-0.000 C21.126,-0.000 27.165,5.845 27.478,13.149 C32.464,14.530 36.000,19.115 36.000,24.363 C36.000,26.457 35.442,28.493 34.382,30.284 ZM13.746,2.109 C7.329,2.109 2.109,7.329 2.109,13.746 C2.109,15.973 2.740,18.136 3.934,20.003 L4.187,20.399 L3.076,24.415 L7.092,23.305 L7.488,23.558 C9.355,24.751 11.519,25.382 13.746,25.382 C20.163,25.382 25.383,20.162 25.383,13.746 C25.383,7.329 20.163,2.109 13.746,2.109 ZM27.400,15.330 C26.672,21.645 21.646,26.671 15.331,27.400 C16.615,31.223 20.239,33.890 24.363,33.890 C26.211,33.890 28.003,33.360 29.546,32.358 L29.944,32.098 L32.924,32.923 L32.100,29.943 L32.358,29.546 C33.361,28.003 33.891,26.210 33.891,24.363 C33.891,20.238 31.224,16.615 27.400,15.330 ZM14.801,15.300 L14.801,16.945 L12.691,16.945 L12.691,14.371 L15.169,12.103 C15.612,11.698 15.855,11.146 15.855,10.546 C15.855,9.383 14.909,8.437 13.746,8.437 C12.583,8.437 11.637,9.383 11.637,10.546 L9.527,10.546 C9.527,8.220 11.420,6.328 13.746,6.328 C16.072,6.328 17.965,8.220 17.965,10.546 C17.965,11.727 17.465,12.862 16.593,13.659 L14.801,15.300 ZM14.801,21.164 L12.691,21.164 L12.691,19.054 L14.801,19.054 L14.801,21.164 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 15px;

    h3 {

      margin-top: 0.6875em;
      margin-bottom: 0.6875em;

      @media (max-width: ($screen-md - 1)) {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}


.feedback {
  @include row;

  &__caption {
    @include col();
    @include col(lg, 6);
    margin-top: 30px;
    margin-bottom: 30px;

    h2 {
      color: #fff;
      margin-top: 0;
    }
  }

  &__form {
    @include col();
    @include col(lg, 6);
    display: flex;
    align-items: center;

    .field-text {
      margin-right: 25px;
      flex-grow: 1;
    }

    .field-text,
    .btn {
      margin-bottom: 15px;
    }

    .field-text__input {
      background: #8b7df2;
      border-color: #8b7df2;
      color: #fff;

      &::placeholder {
        color: #fff;
      }
    }

    @media (max-width: ($screen-md - 1)) {
      flex-direction: column;
      align-items: stretch;

      .field-text {
        margin-right: 0;
      }
    }
  }
}

// TIME TO
.psgTimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-size: 0;

  &_numbers,
  &_labels {

    background: rgba(#000, 0.4);

    &>div {
      display: inline-block;
      font-size: 0;
      width: 77px;
      text-align: center;

      @media (min-width: $screen-md) {
        width: 124px;
      }
    }
  }

  &_numbers {

    border-radius: 10px 10px 0 0;
    padding-top: 15px;

    &>div {
      position: relative;
      &>div {
        display: inline-block;
        vertical-align: top;
        width: 27px;
        height: 40px;
        line-height: 60px;
        border-radius: 2px;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        color: #fff;

        @media (min-width: $screen-md) {
          font-size: 36px;
          width: 44px;
          height: 60px;
        }
      }
    }
  }
  &_labels {

    border-radius: 0 0 10px 10px;
    padding-bottom: 15px;

    &>div {
      padding-top: 15px!important;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 1.2px;
      color: #fff;

      @media (min-width: $screen-md) {
        font-size: 16px;
      }
    }
  }
}

// @include media-breakpoint-down(md) {
//
//   .psgTimer {
//     &_labels,
//     &_numbers {
//       & > div {
//         width: 70px;
//       }
//     }
//
//     &_numbers {
//       & > div {
//         position: relative;
//
//         &:after {
//           line-height: 40px;
//           height: 40px;
//           font-size: 16px;
//           right: -2px;
//         }
//
//         div {
//           width: 26px;
//           height: 40px;
//           line-height: 40px;
//           font-size: 16px;
//
//           &:first-child {
//             margin-right: 2px;
//           }
//         }
//       }
//     }
//
//     &_labels {
//       & > div {
//         font-size: 10px;
//         line-height: 16px;
//       }
//     }
//   }
// }
//
// @include media-breakpoint-down(sm) {
//   .psgTimer {
//     &_labels,
//     &_numbers {
//       & > div {
//         width: 66px;
//       }
//     }
//   }
// }
// END TIME TO

.reviews-carousel-wrap {
  max-width: 700px;
  margin: auto;
}

.reviews-carousel {

  // /* the slides */
  // .slick-slide {
  //   margin: 40px;
  // }
  //
  // /* the parent */
  // .slick-list {
  //   margin: 0 -40px;
  // }
  //
  .reviews-item {
    padding: 30px 15px;
  }

  @media (min-width: $screen-lg) {
    /* the slides */
    .slick-slide {
      margin: 40px;
    }

    /* the parent */
    .slick-list {
      margin: 0 -40px;
    }

    .reviews-item {
      padding: 30px;
    }
  }

  .slick-arrow {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    background: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: #726ce6;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #726ce6;
      color: #fff;
    }
  }

  .reviews-prev {
    left: -60px;
  }

  .reviews-next {
    right: -60px;
  }

  .slick-dots {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 20px 0;

    li {
      display: inline-block;
      font-size: 0;
      margin: 5px 10px;

      &.slick-active {
        button {
          background: #726ce6;
        }
      }

      button {
        width: 14px;
        height: 14px;
        padding: 0;
        font-size: 0;
        border-radius: 50%;
        background: transparent;
        border: 2px solid #726ce6;
        cursor: pointer;
        outline: none;
      }
    }
  }
}

.reviews-item {
  background: #fff;
  text-align: center;
  border-radius: 10px;

  @media (min-width: $screen-lg) {
    box-shadow: $shadow;
  }

  &__photo {
    margin: auto;
  }
}


.vertical-slider-wrapper {
  position: relative;
}
.vertical-slider-wrapper .block-title {
  position: absolute;
  z-index: 20;
  left: 0;
  right: 0;
  top: 80px;
}
.vertical-slider-wrapper .btn-block-wrapper {
  position: absolute;
  z-index: 20;
  left: 0;
  right: 0;
  bottom: 0;
  height: 170px;
  display: flex;
  align-items: center;
  background: rgba(220, 220, 220, 0.6);
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.14);
  font-size: 28px;
  line-height: 32px;
  color: #282828;
}
.vertical-slider-wrapper .btn-block-wrapper .btn-block-description {
  padding-left: 100px;
}
.vertical-slider-wrapper .btn-block-wrapper .row {
  align-items: center;
}
.vertical-slider-wrapper .btn-block-wrapper .btn {
  width: 170px;
}
.vertical-slider-wrapper .btn-block-wrapper p {
  margin: 0;
}
.vertical-slider {
  width: 100%;
  margin: 0;

  .slick-list {

    @media (min-width: $screen-lg) {
      max-height: 750px;
    }
  }
}
.vertical-slider .slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  z-index: 10;
  top: 20%;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 56%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 991.98px) {
    margin-left: -130px;
  }
}
.vertical-slider .slick-dots::after {
  content: "";
  position: absolute;
  z-index: 5;
  top: 5%;
  left: 50%;
  margin-left: -0.5px;
  height: 90%;
  width: 1px;
  background: #d7d7d7;
}
.vertical-slider .slick-dots li {
  position: relative;
  z-index: 10;
}
.vertical-slider .slick-dots li.slick-active button::after,
.vertical-slider .slick-dots li:hover button::after {
  box-shadow: none;
  background: #7c64e7;
  transform: scale(1.45);
}
.vertical-slider .slick-dots li:nth-child(1) button::before {
  content: "1";
}
.vertical-slider .slick-dots li:nth-child(2) button::before {
  content: "2";
}
.vertical-slider .slick-dots li:nth-child(3) button::before {
  content: "3";
}
.vertical-slider .slick-dots li:nth-child(4) button::before {
  content: "4";
}
.vertical-slider .slick-dots li:nth-child(5) button::before {
  content: "5";
}
.vertical-slider .slick-dots li:nth-child(6) button::before {
  content: "6";
}
.vertical-slider .slick-dots li:nth-child(7) button::before {
  content: "7";
}
.vertical-slider .slick-dots li:nth-child(8) button::before {
  content: "8";
}
.vertical-slider .slick-dots li:nth-child(9) button::before {
  content: "9";
}
.vertical-slider .slick-dots button {
  padding: 0;
  border-radius: 50%;
  background: transparent;
  border: 1px solid transparent;
  box-shadow: none;
  width: 60px;
  height: 60px;
  position: relative;
  font-size: 0;
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
  cursor: pointer;
  outline: none;
}
.vertical-slider .slick-dots button::before {
  content: "";
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
}
.vertical-slider .slick-dots button::after {
  content: "";
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #c0bed1;
  box-shadow: 0px 2px 6px 0px rgba(1, 1, 1, 0.21);
  transition: background 0.1s ease-in-out, box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
}
.vertical-slider-item {
  display: flex !important;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  // min-height: 1000px;
}
.vertical-slider-item .slider-image {
  width: 44%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.vertical-slider-item .slider-user-image {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 50px;
  position: relative;
  z-index: 20;
}
.vertical-slider-item .slider-description {
  width: 50%;
  padding: 10% 15% 10% 65px;
}
.vertical-slider-item .slider-title {
  font-size: 24px;
  line-height: 44px;
  font-weight: 500;
  color: #282828;
  margin-bottom: 15px;

  @media (min-width: $screen-lg) {
    font-size: 35px;
    font-weight: 400;
  }
}

.vertical-slider-item .slider-text {
  color: #5b5b5b;
  font-size: 15px;
  line-height: 29px;
}
.vertical-slider-item .slider-text span {
  color: #f56810;
}
.vertical-slider-item ul {
  margin: 0 0 35px;
  padding: 0;
  list-style: none;
}
.vertical-slider-item ul li {
  position: relative;
  padding-left: 20px;
}
.vertical-slider-item ul li::before {
  content: "";
  position: absolute;
  top: 15px;
  margin-top: -1px;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #776ae7;
}

@media (max-width: 991.98px) {
  .vertical-slider-wrapper .vertical-slider-item .slider-image {
    width: 32%;
  }

  .vertical-slider-wrapper .vertical-slider-item .slider-description {
    padding-left: 0;
    width: 55%;
  }
}

@media (max-width: 767.98px) {
  .vertical-slider-wrapper .vertical-slider-item div.slider-image {
      width: 25%;
      min-height: 500px;
  }
}

@media (max-width: 575.98px) {
  .vertical-slider-wrapper .vertical-slider-item div.slider-description {
    padding: 40px 15px 60px 40px;
    width: 100%;
  }
  .vertical-slider ul.slick-dots {
    left: 10px;
    margin-left: 0;
  }

  .vertical-slider .slick-list {
    min-height: 500px;
  }
}
